<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Library</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/main.css" />
  </head>

  <body>
    <header class="header">
      <div class="header__content content">
        <div class="header__logo">ToDo App</div>
        <nav class="header__nav nav">
          <ul class="nav__nav">
            <li class="nav__item"><a href="#" class="disabled">Мои дела</a></li>
            <li class="nav__item"><a href="#">Архив</a></li>
          </ul>
        </nav>
        <div class="header__search search-bar" action="#">
          <input class="search-bar__input" placeholder="Я ищу..." name="query" type="text" required />
          <button class="search-bar__btn btn btn--search" type="submit">Search</button>
        </div>
        <!-- <button class="search-bar__btn btn btn--search btn--search-round" type="submit">Search</button> -->
      </div>
    </header>

    <section class="main">
      <div class="main__content content">
        <h1 class="main__title">Мои дела</h1>

        <div class="main__todolist todolist">
          <div class="todolist__item todoitem">
            <div class="todoitem__header todoitem__header--odd">
              <div class="todoitem__label">
                <p class="todoitem__index">1.</p>
                <p class="todoitem__title">Надо сделать</p>
                <p class="todoitem__chip chip chip--created">09 Sep 21 12:22</p>
              </div>
              <div class="todoitem__toggler toggler"></div>
            </div>
          </div>

          <div class="todolist__item todoitem">
            <div class="todoitem__header todoitem__header--even">
              <div class="todoitem__label">
                <p class="todoitem__index">2.</p>
                <p class="todoitem__title">Надо еще сделать</p>
                <p class="todoitem__chip chip chip--created">09 Sep 21 12:22</p>
              </div>
              <div class="todoitem__toggler toggler"></div>
            </div>
          </div>

          <div class="todolist__item todoitem">
            <div class="todoitem__header todoitem__header--odd">
              <div class="todoitem__label">
                <p class="todoitem__index">3.</p>
                <p class="todoitem__title">Делаю</p>
                <p class="todoitem__chip chip chip--created">09 Sep 21 12:22</p>
              </div>
              <div class="todoitem__toggler toggler toggler--opened"></div>
            </div>
            <p class="todoitem__content">
              Надо подготовиться...<br />
              Не забыть...
              <span class="todoitem__buttons">
                <button class="btn btn--text" type="submit">Изменить</button>
                  <button class="btn btn--text" type="submit">Завершить</button>
                </span>
            </p>
          </div>

          <div class="todolist__item todoitem">
            <div class="todoitem__header todoitem__header--even">
              <div class="todoitem__label">
                <p class="todoitem__index">4.</p>
                <p class="todoitem__title">Сделай уже!</p>
                <p class="todoitem__chip chip chip--archived">09 Sep 21 12:22</p>
              </div>
              <div class="todoitem__toggler toggler"></div>
            </div>
          </div>

          <div class="todolist__item todoitem--add-new">
            <div class="todoitem__header todoitem__header--add">
              <!-- <div class="todoitem__label">
                <p class=" todoitem__title">Добавить</p>
            </div> -->
              <input placeholder="Заголовок" type="text" class="todoitem__title todoitem__input input" />
              <div class="todoitem__toggler toggler toggler--opened"></div>
            </div>
            <div class="todolist__form">
              <textarea placeholder="Описание" type="text" class="todoitem__textarea textarea"> </textarea>
              <button class="btn btn--primary">Добавить</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer__content content">
        <p class="footer__copyright">© 2021 GDG DevFest</p>
      </div>
    </footer>
  </body>
</html>
