@namespace ToDoApp

<div class="todolist__item todoitem">
    <div class="todoitem__header todoitem__header--odd">
        <div class="todoitem__label">
            <p class="todoitem__index">3.</p>
            <p class="todoitem__title">Делаю</p>
            <p class="todoitem__chip chip chip--created">09 Sep 21 12:22</p>
        </div>
        <div class="todoitem__toggler toggler toggler--opened"></div>
    </div>
    <pre class="todoitem__content">Надо подготовиться...
Не забыть...
        <span class="todoitem__buttons">
            <button class="btn btn--text" type="submit">Изменить</button>
            <button class="btn btn--text" type="submit">Завершить</button>
        </span>
    </pre>
</div>